@import '../../assets/styles/index.scss';

/* TODO - aplicar variáveis*/

.c__nearby {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: map_get($colors, 'white');
  background-color: map_get($colors, 'red');
  padding: map_get($spaces, 'x-large') map_get($spaces, 'large');

  &__overlay {
    max-width: 680px;
  }

  &__perfil {
    color: map_get($colors, 'black');
    display: flex;
    align-items: center;
    margin-bottom: map_get($spaces, 'large');

    &__about {
      text-align: left;
      color: map_get($colors, 'white');
      h2 {
        font-size: map_get($textSize, 'large');
        margin-bottom: map_get($spaces, 'small');
      }
      h3 {
        font-size: map_get($textSize, 'normal');
      }
    }
    &__avatar {
      border-radius: 100px;
      width: 100px;
      height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-right: map_get($spaces, 'small');
      img {
        height: 100%;
      }
    }
  }

  &__description {
    p {
      text-align: left;
    }
  }

  &__request {
    margin: map_get($spaces, 'large') 0;
    text-align: left;

    dl {
      background: map_get($colors, 'white');
      color: map_get($colors, 'black');
      padding: map_get($spaces, 'small') map_get($spaces, 'normal');
      p {
        opacity: .85;
      }
      &:not(:last-of-type) {
        border-bottom: 2px solid darken($color: map_get($colors, 'red'), $amount: 5);
      }
    }
  }
}
