@import '../../assets/styles/index.scss';

.c__notfound {
  width: 100%;
  min-height: calc(100vh - #{$header-space + map_get($spaces, 'normal')});
  display: flex;
  justify-content: center;
  align-items: center;
  background: map_get($colors, 'gray');
}

.logged .c__notfound {
  min-height: 100vh;
}
