@import 'src/assets/styles/index.scss';

.c__list__page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: map_get($colors, 'gray');

  &__title {
    font-size: map_get($textSize, 'large');
  }
}
