@import '../../assets/styles/index.scss';

.logged .c__content {
  padding: 0;
}

.c__content {
  padding: $header-space 0 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: map_get($colors, 'white');
}
