@import 'src/assets/styles/index.scss';

.c__navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: map_get($colors, 'white');
  z-index: 200;

  &__nav {
    position: relative;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;

        a {
          text-decoration: none;
          text-align: center;
          color: map_get($colors, 'black');
          display: block;
        }
      }
    }

    &__icon {
      display: block;
      font-size: map_get($textSize, 'large');
      cursor: pointer;
      padding: map_get($spaces, 'normal');
      color: map_get($colors, 'red');
    }

    &__names {
      display: none;
    }
  }
}
