@import 'src/assets/styles/index.scss';

.c__navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: map_get($colors, 'white');
  z-index: 200;
  box-shadow: 0 0px 15px rgba(100, 100, 100, 0.2);

  &__nav {
    position: relative;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;

        a {
          text-decoration: none;
          text-align: center;
          color: map_get($colors, 'black');
          display: block;
        }
      }
    }

    &__icon {
      display: block;
      font-size: map_get($textSize, 'large');
      cursor: pointer;
      padding: map_get($spaces, 'small') map_get($spaces, 'normal') 0 map_get($spaces, 'normal');
      color: map_get($colors, 'red');
    }

    &__names {
      color: map_get($colors, 'red');
      font-weight: 600;
      font-size: map_get($textSize, 'small');
    }

    .router-active &__icon,
    .router-active &__names {
      color: map_get($colors, 'black');
    }
  }

  @include mq('desktop') {
    top: 0;
    bottom: auto;
  }
}
