@import '../../assets/styles/index.scss';

.c__register {
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;

    @include mq('desktop') {
      flex-direction: row;
    }
  }

  &__content {
    flex: 1;
    padding: map_get($spaces, 'normal');

    &__radios {
      margin-bottom: map_get($spaces, 'medium');
    }

    @include mq('desktop') {
      padding: map_get($spaces, 'large');
      border-right: 1px solid rgba(100, 100, 100, 0.1);
      margin-top: map_get($spaces, 'x-large');
    }
  }

  &__socials {
    flex: 1;
    padding: map_get($spaces, 'normal');

    @include mq('desktop') {
      padding: map_get($spaces, 'x-large');
      margin-top: map_get($spaces, 'x-large');
    }

    h4 {
      margin: map_get($spaces, 'normal') 0;
    }

    &__terms {
      max-height: 300px;
      padding: map_get($spaces, 'normal');
      background: map_get($colors, 'white');
      overflow-y: scroll;

      @include mq('desktop') {
        overflow-y: hidden;

        &:hover {
          overflow-y: scroll;
        }
      }
    }

    span {
      font-size: map_get($textSize, 'small');
      font-weight: 600;
      display: block;
      margin: map_get($spaces, 'normal') 0;
      color: map_get($colors, 'red');
    }
  }
}
