@import '../../assets/styles/index.scss';

.c__login {
  width: 100%;
  height: calc(100vh - #{$header-space});
  background: map_get($colors, 'gray');

  .container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    min-width: 90%;
    padding: map_get($spaces, 'normal');
    background: rgba(255, 255, 255, 0.6);

    @include mq('tablet') {
      min-width: 400px;
    }
  }
}
