$header-space: 50px;
$container-space: 1200px;

$textSize: (
  'small': 12px,
  'normal': 16px,
  'medium': 20px,
  'large': 24px,
  'x-large': 32px,
) !default;

$colors: (
  'white': #fff,
  'black': #000,
  'gray': #eee,
  'gray-1': #fafafa,
  'red': #de6262,
  'orange': #ffb88c,
  'info': #288feb,
  'waring': #ffba00,
  'success': #15cd72,
  'error': #e0455e,
) !default;

$spaces: (
  'small': 8px,
  'normal': 16px,
  'medium': 24px,
  'large': 32px,
  'x-large': 40px,
) !default;

$breakpoints: (
  'mobile': 481px,
  'tablet': 769px,
  'desktop': 1025px,
  'tv': 1201px,
) !default;
