@import 'src/assets/styles/index';
@import '../../../assets/fontello/css/fontello.css';
/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;

  @include mq('desktop') {
    width: 850px;
  }

  @include mq('tv') {
    width: $container-space;
  }
}

::selection {
  background: map_get($colors, 'red');
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

// TODO - Components
.c__radio,
.c__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: map_get($spaces, 'normal');

  &__content {
    @extend %checkRadio;

    &__checkmark {
      @extend %checkmark;
    }

    input:checked ~ &__checkmark {
      border-color: map_get($colors, 'black');
      color: map_get($colors, 'black');

      &:after {
        display: block;
        z-index: 1;
      }

      &:before {
        background-color: map_get($colors, 'red');
        top: 2px;
        left: 2px;
      }

      @include mq('tablet') {
        &:before {
          top: 1px;
          left: 1px;
        }
      }
    }
  }

  label {
    font-weight: 600;
    line-height: 1px;

    @include mq('tablet') {
      font-size: map_get($textSize, 'small');
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  background: rgba(100, 100, 100, 0.2);

  &-thumb {
    border-radius: 5px;
    background: map_get($colors, 'red');
  }
}
